.gridText{
    width:50px;
    border:none;
    padding: 5px;
}

table {
    border-collapse: collapse;
  }
  
  td.cell {
    border: 1px solid black;
  }
.bold{
    font-weight: bold;
}

.italic{
    font-style: italic
}

.underline{
   text-decoration: underline; 
}

button {
    padding: 5px;
    border-radius: 2px;
    background: #ffffff;
    border: 1px solid;
    min-width: 30px;
}

.tootlbar{
    margin:10px 0px;
    text-align: center
}